"""
Advent of Code solution for day {{ day_number | int }}.

See https://adventofcode.com/{{ year | int }}/day/{{ day_number | int }} for details.
"""

def read_input(file_path: str) -> list[str]:
    """Read the input file and return a list of lines."""
    with open(file_path, 'r') as f:
        return f.readlines()

def part_one(data: list[str]) -> int:
    """Solve part one of the day's challenge."""
    return -9999

def part_two(data: list[str]) -> int:
    """Solve part two of the day's challenge."""
    return -9999
